@charset "utf-8"
    @font-face{
        font-family: 'fonte-padrao', "sans-serif";
        src: url("fontes/Roboto-regular.ttf");
}
.mdl-cell {
    box-sizing: border-box;
    height: 200px;
    padding-left: 8px;
    padding-top: 4px;
    color: #e91e63;
    background-color: forestgreen;
}
.mdl-grid:first-of-type .mdl-cell {
  height: 150px;
}
.mdl-layout__content h1,h2, p{
    font-size: 1.8em;
    font-weight: bold;
    width: 100%;
    height: auto;
    text-align: center;
    color: #e91e63;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}
div#fundo-btn-enviar{
    margin-top: -30px;
    padding-bottom: 10px;    
    background-color: #E54B4B;
}
@media(max-width: 499px){
    article#tabela-produtos-pc{
    display: block;
    width: 98%;
    /float: none;
    margin: auto;
    }
    table#tabela-produtos{
    display: block;
    padding: 1px;
    float: left;
    margin: auto;
    /background-color: #e91e63;
    }
    section#conteudo-movel h1{
        text-align: center;
        color: #e91e63;
        font-weight: bold;
        margin-bottom: 0px;
    }
    form#dono h3, label, input{
        text-align: center;
        width: 100%;
    }
    form#agenda h3, h4{
        text-align: center;
    }
    div#preferencia-horario{
        text-align: center;
    }
    .porte{
        display: block;
        float: left;
        width: 10%;
    }
    textarea#area-texto{
        width: 100%;
        padding-top: 3%;
    }
    button#btn-enviar-mobile{
        display: block;
        margin-left: 40%;
        /margin-right: 5%;
        margin-top: 2%;
    }
}
@media (min-height: 500px){
    article#tabela-produtos-pc{
    display: block;
    width: 100%;
    float: left;
    margin: auto;
    }
    table#tabela-produtos{
    display: block;
    padding: 10px;
    float: right;
    margin: 10px;
    /background-color: #e91e63;
    }
    section#conteudo-movel h1{
        text-align: center;
        color: #e91e63;
        font-weight: bold;
        margin-bottom: 0px;
    }
    form#dono h3, label, input{
        text-align: center;
        width: 100%;
    }
    form#agenda h3, h4{
        text-align: center;
    }
    div#preferencia-horario{
        text-align: center;
    }
    .porte{
        display: block;
        float: left;
        width: 10%;
    }
    textarea#area-texto{
        width: 100%;
        padding-top: 3%;
    }
}
@media (min-width: 769px){
    article#tabela-produtos-pc{
    display: block;
    width: 100%;
    float: left;
    margin: auto;
    }
    table#tabela-produtos{
    display: block;
    padding: 0px;
    float: left;
    margin: 5px;
    /background-color: #e91e63;
    }
    section#conteudo-corpo h1{
        text-align: center;
        color: #e91e63;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .titulos{
        font-weight: bold;
        font-size: 1.4em;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    form#dono label, input{
        text-align: center;
        width: 100%;
        font-size: 1em;
    }
    form#agenda h3, h4{
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
    }
    div#preferencia-horario{
        text-align: center;
    }
    .porte{
        display: block;
        float: left;
        width: 10%;
    }
    #texto-agenda{
        width: 100%;
        text-align: center;
        color: #e91e63;
        background-color: white;
    }
    input#data-agenda-1{
        color: #e91e63;
        text-align: center;
        background-color: white;
    }
    button#btn-enviar{
        display: block;
        margin-left: 45%;
        margin-top: 2%;
    }
}
@media (min-height: 1600px){
    button#btn-enviar{
        display: block;
        margin-left: 47%;
        margin-top: 2%;
    }
}
.titulo-produtos h1{
    font-size: 1.5em;
}
.titulo-produtos h2{
    font-size: 1.3em;
}
table#tabela-produtos th{
    text-align: center;
    font-size: 1.3em;
    color: #e91e63;
}
@media (max-width: 414px){
/.thumb-racoes{
    display: flex;
    /width: 100%;
    float: none;
    padding-right: 15%;
    padding-left: 37%;
    }
}
@media (min-width: 500px){
/.thumb-racoes{
    display: block;
    float: none;
    padding-right: 5%;
    padding-left: 40%;
    }
}
@media (max-width: 768px){/*marcacao mobile*/
.thumb-racoes{
    display: flex;
    flex-flow: wrap;
    float: none;
    padding-right: 5%;
    padding-left: 5%;
    }
    input#data-agenda-1{
        color: #e91e63;
        text-align: center;
        background-color: white;
    }
    .titulos{
        font-weight: bold;
        font-size: 1.3em;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #obs-text-area{
        text-align: center;
    }
    #texto-agenda{
        width: 100%;
        text-align: center;
        color: #e91e63;
        background-color: white;
    }
    #nome-animal{
        width: 100%;
        text-align: center;
        color: #e91e63;
        /background-color: white;
    }
}
.mdl-layout__content p{/*afeta todos os paragrafos*/
    font-size: 1.5em;
    font-weight: 600;
}
p#obrigado{
    display: block;
    width: 100%;
    float: right;
}
figure#totos{
    /padding-top: 140px;
    /*efeito parallax no scrool*/
    background-image: url(../multimidia/questao3.jpg);
    height: 500px;
    background-attachment: scroll;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}
@media (max-width: 768px){
form{
    margin: 0px;
    padding: 20px;
    background-color: #e54b4b; 
    color: white;
    font-size: 1.2em;
}
input#entrada-dados-form{
    margin: 5px 5px;
    padding: 4px;
    width: 100%;
}
button#enviar-form{
    margin-top: 4%;
}
    div#foto-1{
        width: 100%;
        background-image: url(../multimidia/catchuros/brincadeiras.jpg);
        height: 500px;
        background-attachment: scroll;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div#foto-1 h2{
        width: 100%;
        color: white;
        background-color: #e91e63;
    }
    div#foto-2{
        width: 100%;
        background-image: url(../multimidia/catchuros/cuidados.jpg);
        height: 500px;
        background-attachment: scroll;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div#foto-2 h2{
        width: 100%;
        color: white;
        background-color: #e91e63;
    }
    div#foto-3{
        width: 100%;
        background-image: url(../multimidia/catchuros/saude.jpg);
        height: 500px;
        background-attachment: scroll;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div#foto-3 h2{
        width: 100%;
        color: white;
        background-color: #e91e63;
    }
}
@media (min-width: 769px){
form{
    margin: 0px;
    padding: 20px;
    background-color: #e54b4b; 
    color: white;
    font-size: 1.2em;
}
    #nome-animal{
        width: 100%;
        text-align: center;
        color: #e91e63;
        /background-color: white;
    }
    .opcao-label{
        text-align: center;
        width: 100%;
        color: white;
        font-size: 1.5em;
    }
ul#menu_racas{
    /list-style: none;
    text-decoration: none;
    font-size: 1.4em;
    }
    div#foto-1{
        background-image: url(../multimidia/catchuros/brincadeiras.jpg);
        height: 500px;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div#foto-1 h2{
        width: 100%;
        color: white;
        background-color: #e91e63;
    }
    div#foto-2{
        background-image: url(../multimidia/catchuros/cuidados.jpg);
        height: 500px;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div#foto-2 h2{
        width: 100%;
        color: white;
        background-color: #e91e63;
    }
    div#foto-3{
        background-image: url(../multimidia/catchuros/saude.jpg);
        height: 500px;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div#foto-3 h2{
        width: 100%;
        color: white;
        background-color: #e91e63;
    }
}
/*versao pc*/
@media (min-width: 1900px){
ul#menu_racas li{
    text-decoration: none;
    text-align: left;
    margin-left: 35%;
    padding-left: 10%;
    }
ul#menu_racas a{
    list-style: none;
    text-decoration: none;
    }
}
@media (max-width: 1500px){
ul#menu_racas li{
    text-decoration: none;
    text-align: left;
    margin-left: 35%;
    padding-left: 8%;
    }
ul#menu_racas a{
    list-style: none;
    text-decoration: none;
    }
}
@media (max-width: 1299px){
ul#menu_racas li{
    text-decoration: none;
    text-align: left;
    margin-left: 35%;
    padding-left: 5%;
    }
ul#menu_racas a{
    list-style: none;
    text-decoration: none;
    }
}
/*versao mobile*/
@media (max-width: 768px){
ul#menu_racas li{
    text-decoration: none;
    text-align: left;
    margin-left: 35%;
    padding-left: 5%;
    }
ul#menu_racas a{
    list-style: none;
    text-decoration: none;
    }
}
@media (max-width: 600px){
ul#menu_racas li{
    text-decoration: none;
    text-align: left;
    margin-left: 30%;
    padding-left: 5%;
    }
}
@media (max-width: 414px){
ul#menu_racas li{
    text-decoration: none;
    text-align: left;
    margin-left: 15%;
    padding-left: 10%;
    }
}
   
input#entrada-dados-form{
    margin: 5px 3%;
    padding: 4px;
    width: 90%;
    text-align: center;
}
button#enviar-form{
    display: block;
    float: none;
    margin-top: 4%;
    margin-left: 45%;
}
@media (min-width: 1400px){
    input#entrada-dados-form{
    margin: 5px 2%;
    padding: 8px;
    width: 90%;
    text-align: center;
}
button#enviar-form{
    display: block;
    float: none;
    margin-top: 4%;
    margin-left: 48%;
    }
}
@media (min-width: 1900px){
input#entrada-dados-form{
    margin: 5px 5%;
    padding: 8px;
    width: 90%;
    text-align: center;
}
button#enviar-form{
    display: block;
    float: none;
    margin-top: 4%;
    margin-left: 43%;
    width: 15%;
    height: auto;
    }
}

/*estilo versao mobile*/
@media (max-width: 768px){
section#menu-pc, section#conteudo-pc{
    display: none;
}
section#conteudo-movel{/*conteiner de colunas de embrulho*/
    display: block;
    /flex-wrap: wrap;
}
article{
    width: 95%;
    margin: auto;
    float: auto;
    background-color: white;
    padding: 10px;
}
p#obrigado-movel{
  font-size: 1.3em;
    font-weight: bold;
}
img#pet-surpresa-movel{
    display: block;
    float: none;
    width: 100%;
    }
aside#mov_esq{
    width: 100%;
    margin: auto;
    float: left;
    background-color: #e91e63;
    /padding: 2% 0px 2% 15%;
    font-size: 1.2em;
}
    aside#mov_esq img{
    width: 50%;
    float: none;
    background-color: #e91e63;
    margin-right: 100%;
    padding: 2%;
    font-size: 1.2em;
}
    #video-home-mobile{
        width: 93%;
        margin: auto;
    }
    #audio-home-mobile{
        width: 93%;
        margin: auto;
    }
    aside#mov_esq p{
    color: white;
    text-align: center;
    font-size: 1.3em;
    }
    @media (min-width: 320px) and (max-width: 360px){
       article#tabela-produtos-mobile{
    display: flex;
        flex-flow: wrap;
    float: none;
    margin: auto;
    }
    table#tabela-produtos-mobile{
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: 5px auto;
    /background-color: #e91e63;
    }
    aside#mov_esq img{
    width: 100%;
    float: none;
    background-color: #e91e63;
    margin: auto;
    padding: 2%;
    font-size: 1.2em;
    }
}
@media (min-width: 360px){
    article#tabela-produtos-mobile{
    display: flex;
        flex-flow: wrap;
    float: none;
    margin: auto;
    }
    table#tabela-produtos-mobile{
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: 5px auto;
    /background-color: #e91e63;
    }
section#conteudo-corpo-mobile h1{
        text-align: center;
        color: #e91e63;
        font-weight: bold;
        margin-bottom: 0px;
    }
    aside#mov_esq{
    width: 100%;
    margin: auto;
    float: left;
    background-color: #e91e63;
    font-size: 1.3em;
    }
aside#mov_esq img{
    width: 100%;
    background-color: #e91e63;
    font-size: 1.2em;
}
    aside#mov_esq p{
    color: white;
        text-align: center;
    font-size: 1.2em;
    }
}
@media (min-width: 768px){
    aside#mov_esq{
    width: 100%;
    margin: auto;
    float: left;
    background-color: #e91e63;
    font-size: 1.2em;
    }
aside#mov_esq img{
    width: 40%;
    margin-left: 30%;
    background-color: #e91e63;
    font-size: 1.2em;
    }
    aside#mov_esq p{
    width: 50%;
    color: white;
    margin-left: 30%;
    /display: none;
    text-align: center;
    font-size: 1.2em;
    }
}
figcaption{
    border-bottom: 1px solid;
}
.wiki{
    padding: 0px 2%;
}
main.mdl-layout__content{
    width: 100%;
    height: auto;
    text-align: center;
    color: #e91e63;
}
figure{
    max-width:100%;
    height: auto;
    background-color: white;
    padding: 10px;
}
footer#rodape-mobile{
    width: 100%;
    float: left;
    margin: auto;
    padding: 1.5%;
    font-size: 1.2em;
    text-align: center;
    color: white;
    background-color: #333;
    }
@media (max-width: 250px){
    footer#rodape-mobile{
        display: none;
    }
    footer#rodape-pc{
        display: none;
    }
    }
}

/*estilo versao pc*/

@media (min-width: 769px){
section#conteudo-movel{
    display: none;
}
button#news{
    font-size: 1.8em;
    color: white;
}
section#conteudo-pc{/*conteiner de colunas de embrulho*/
    display: flex;
    width: 100%;
    float: none;
    overflow: hidden;
}
article{
    width: 100%;
    height: auto;
    /margin: auto;
    float: none;
    text-align: center;
    color: #e91e63;
    background-color: white;
    padding: 10px;
}
figure.fotos-destaque{
    background-color: #e91e63;
}
figure.fotos-destaque img{
    margin-top: 1%;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #e91e63;
    }
figcaption h2{
    color: white;
    margin-top: 0px;
    padding-top: 0px;
    }
aside#esq{
    width: 30%;
    height: auto;
    text-align: center;
    margin: 0px 2px;
    padding: 5px 2px;
    background-color: #e91e63;
    font-size: 1.2em;
    /*pet surpresa*/
    background-image: url('../multimidia/pet-surpresa.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 150px;
    }
    aside#esq p{
        font-weight: bold;
        font-size: 1.2em;
        color: white;
    }
    aside#esq img{
    width: 100%;
    float: none;
    background-color: #e91e63;
    margin: auto;
    padding: 2%;
    font-size: 1.2em;
    }
    #video-home{
        width: 95%;
        margin: auto;
    }
    #audio-home{
        width: 95%;
        margin: auto;
    }
p#obrigado{
    font-size: 2em;
    font-weight: bold;
    }
footer#rodape-pc{
    width: 100%;
    float: left;
    margin: auto;
    padding: 1.5%;
    font-size: 1.6em;
    text-align: center;
    color: white;
    background-color: #333;
}
@media (min-width: 1300px){
    footer#rodape-pc{
        width: 100%;
        float: left;
        margin: auto;
        padding: 1.5%;
        font-size: 2em;
        text-align: center;
        color: white;
        background-color: #333;
        }
    }
}